header {
    background-color: #CCCCCC;
    height: 75px;
}

.logo {
    width: 50px;
}

nav{
    display: inline;
    position: absolute;
    right: 10px;
    top: 30px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#img-principal{
    width: 100%;
}

.principal{
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
    font-size: 20px;
}

p{

    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

.beneficios{
    background-color: #FFFFFF;
    padding: 20px;
}

.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.imagem_beneficios{
    width: 50%;
    
}

footer{
    text-align: center;
    background-image: url("/imagens/bg.jpg");
    height: 75px;
    text-align: center;
}

footer img, p {
    display: inline-block;
}

footer img{
    width: 50px;
    position: absolute;
    left: 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 30px 0 0;
}