input {
    outline: black;
}

button{
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    border-width: 1.3px;
    border-color: rgb(218, 27, 218);
}

button:active {
    transform: scale(0.95);
}