@charset "UTF-8";

body {
    background-color: darkslategray;
}

.container {
    min-width: 200px;
    max-width: 600px;
    border: 1px solid black;
    padding: 15px;
    height: 350px;
    background-color: rgb(138, 137, 137) ;
    margin: auto;
    border-radius: 15px;
}

.block {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
}

p {
    font-size: 20px;
    margin-top: 0px;
}

input[type="number"] {
    width: 590px;
    height: 50px;
    font-size: 30px;
    outline: none;
    background-color: rgb(158, 158, 158);
    border: 1px solid ;
    border-radius: 25px;
    padding-left: 10px;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"]:focus {
    border: 1px solid rgb(104, 104, 104);
}

input[type="button"] {
    width: 590px;
    height: 50px;
    background-color: white;
    outline: none;
    border: 1px solid black;
    font-size: 20px;
    background-color: darkgray;
    margin-bottom: 20px;
    border-radius: 25px;
    color: rgb(17, 17, 17);
}

h1 {
    text-align: center;
    color: aliceblue;
}

#result {
    font-size: 20px;
}

#botao:hover {
    background-color: rgb(158, 158, 158);
}

#botao:active {
    transform: scale(.95);
}